# =========================

# Visual Studio

# =========================

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# =========================

# Build Outputs

# =========================

bin/
obj/

# =========================

# IIS Express

# =========================

applicationhost.config

# =========================

# Visual Studio Cache

# =========================

*.vsidx
*.cache

# =========================

# NuGet

# =========================

packages/

# =========================

# Logs

# =========================

*.log

# =========================

# ReSharper

# =========================

_ReSharper*/
*.DotSettings.user

# =========================

# Rider

# =========================

.idea/

# =========================

# Windows

# =========================

Thumbs.db
Desktop.ini
