USE [master]
GO
/****** Objeto: Database [RESTOBAR_DB] Fecha de script: 15/6/2026 19:46:49 ******/
CREATE DATABASE [RESTOBAR_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'RESTOBAR_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\RESTOBAR_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'RESTOBAR_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\RESTOBAR_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [RESTOBAR_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [RESTOBAR_DB]
GO
/****** Objeto: Table [dbo].[ASIGNACIONES] Fecha de script: 15/6/2026 19:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ASIGNACIONES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdMesa] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FechaAsignacion] [smalldatetime] NOT NULL,
	[FechaCierre] [smalldatetime] NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[CATEGORIAS] Fecha de script: 15/6/2026 19:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CATEGORIAS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[DETALLE_PEDIDOS] Fecha de script: 15/6/2026 19:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DETALLE_PEDIDOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdPedido] [int] NOT NULL,
	[IdInsumo] [int] NOT NULL,
	[Cantidad] [int] NOT NULL,
	[PrecioUnitario] [decimal](10, 2) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[INSUMOS] Fecha de script: 15/6/2026 19:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[INSUMOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](100) NOT NULL,
	[Descripcion] [varchar](200) NULL,
	[Precio] [decimal](10, 2) NOT NULL,
	[Stock] [int] NOT NULL,
	[IdCategoria] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MENU] Fecha de script: 15/6/2026 19:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MENU](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NOT NULL,
	[Url] [varchar](200) NOT NULL,
	[Modulo] [varchar](50) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[MESAS] Fecha de script: 15/6/2026 19:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MESAS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Numero] [int] NOT NULL,
	[Descripcion] [varchar](100) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[PEDIDOS] Fecha de script: 15/6/2026 19:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PEDIDOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdMesa] [int] NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[FechaApertura] [smalldatetime] NOT NULL,
	[FechaCierre] [smalldatetime] NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ROL_MENU] Fecha de script: 15/6/2026 19:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROL_MENU](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdRol] [int] NOT NULL,
	[IdMenu] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[ROLES] Fecha de script: 15/6/2026 19:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ROLES](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto: Table [dbo].[USUARIOS] Fecha de script: 15/6/2026 19:46:49 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[USUARIOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[Pass] [varchar](50) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Apellido] [varchar](50) NOT NULL,
	[IdRol] [int] NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CATEGORIAS] ON 

INSERT [dbo].[CATEGORIAS] ([Id], [Descripcion], [Activo]) VALUES (1, N'Entradas', 1)
INSERT [dbo].[CATEGORIAS] ([Id], [Descripcion], [Activo]) VALUES (2, N'Platos principales', 1)
INSERT [dbo].[CATEGORIAS] ([Id], [Descripcion], [Activo]) VALUES (3, N'Bebidas', 1)
SET IDENTITY_INSERT [dbo].[CATEGORIAS] OFF
GO
SET IDENTITY_INSERT [dbo].[INSUMOS] ON 

INSERT [dbo].[INSUMOS] ([Id], [Nombre], [Descripcion], [Precio], [Stock], [IdCategoria], [Activo]) VALUES (1, N'Milanguinesas', N'Una tremenda milanguinesa', CAST(150000.00 AS Decimal(10, 2)), 23, 1, 1)
INSERT [dbo].[INSUMOS] ([Id], [Nombre], [Descripcion], [Precio], [Stock], [IdCategoria], [Activo]) VALUES (2, N'Coca Cola', N'Gaseosa sabor cola', CAST(8000.00 AS Decimal(10, 2)), 101, 3, 0)
INSERT [dbo].[INSUMOS] ([Id], [Nombre], [Descripcion], [Precio], [Stock], [IdCategoria], [Activo]) VALUES (3, N'Coca Cola', N'Gaseosa sabor cola', CAST(150000.00 AS Decimal(10, 2)), 100, 3, 0)
SET IDENTITY_INSERT [dbo].[INSUMOS] OFF
GO
SET IDENTITY_INSERT [dbo].[MESAS] ON 

INSERT [dbo].[MESAS] ([Id], [Numero], [Descripcion], [Activo]) VALUES (1, 1, N'Mesa del fondo', 1)
INSERT [dbo].[MESAS] ([Id], [Numero], [Descripcion], [Activo]) VALUES (2, 2, N'Mesa terraza', 1)
INSERT [dbo].[MESAS] ([Id], [Numero], [Descripcion], [Activo]) VALUES (3, 3, N'Mesa ventana', 1)
SET IDENTITY_INSERT [dbo].[MESAS] OFF
GO
ALTER TABLE [dbo].[ASIGNACIONES] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[CATEGORIAS] ADD  CONSTRAINT [DF_CATEGORIAS_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDOS] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[INSUMOS] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[MENU] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[MESAS] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[PEDIDOS] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[USUARIOS] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[ASIGNACIONES]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNACIONES_MESAS] FOREIGN KEY([IdMesa])
REFERENCES [dbo].[MESAS] ([Id])
GO
ALTER TABLE [dbo].[ASIGNACIONES] CHECK CONSTRAINT [FK_ASIGNACIONES_MESAS]
GO
ALTER TABLE [dbo].[ASIGNACIONES]  WITH CHECK ADD  CONSTRAINT [FK_ASIGNACIONES_USUARIOS] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[ASIGNACIONES] CHECK CONSTRAINT [FK_ASIGNACIONES_USUARIOS]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_PEDIDOS_INSUMOS] FOREIGN KEY([IdInsumo])
REFERENCES [dbo].[INSUMOS] ([Id])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDOS] CHECK CONSTRAINT [FK_DETALLE_PEDIDOS_INSUMOS]
GO
ALTER TABLE [dbo].[DETALLE_PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_DETALLE_PEDIDOS_PEDIDOS] FOREIGN KEY([IdPedido])
REFERENCES [dbo].[PEDIDOS] ([Id])
GO
ALTER TABLE [dbo].[DETALLE_PEDIDOS] CHECK CONSTRAINT [FK_DETALLE_PEDIDOS_PEDIDOS]
GO
ALTER TABLE [dbo].[INSUMOS]  WITH CHECK ADD  CONSTRAINT [FK_INSUMOS_CATEGORIAS] FOREIGN KEY([IdCategoria])
REFERENCES [dbo].[CATEGORIAS] ([Id])
GO
ALTER TABLE [dbo].[INSUMOS] CHECK CONSTRAINT [FK_INSUMOS_CATEGORIAS]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_MESAS] FOREIGN KEY([IdMesa])
REFERENCES [dbo].[MESAS] ([Id])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_MESAS]
GO
ALTER TABLE [dbo].[PEDIDOS]  WITH CHECK ADD  CONSTRAINT [FK_PEDIDOS_USUARIOS] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[USUARIOS] ([Id])
GO
ALTER TABLE [dbo].[PEDIDOS] CHECK CONSTRAINT [FK_PEDIDOS_USUARIOS]
GO
ALTER TABLE [dbo].[ROL_MENU]  WITH CHECK ADD  CONSTRAINT [FK_ROL_MENU_MENU] FOREIGN KEY([IdMenu])
REFERENCES [dbo].[MENU] ([Id])
GO
ALTER TABLE [dbo].[ROL_MENU] CHECK CONSTRAINT [FK_ROL_MENU_MENU]
GO
ALTER TABLE [dbo].[ROL_MENU]  WITH CHECK ADD  CONSTRAINT [FK_ROL_MENU_ROLES] FOREIGN KEY([IdRol])
REFERENCES [dbo].[ROLES] ([Id])
GO
ALTER TABLE [dbo].[ROL_MENU] CHECK CONSTRAINT [FK_ROL_MENU_ROLES]
GO
ALTER TABLE [dbo].[USUARIOS]  WITH CHECK ADD  CONSTRAINT [FK_USUARIOS_ROLES] FOREIGN KEY([IdRol])
REFERENCES [dbo].[ROLES] ([Id])
GO
ALTER TABLE [dbo].[USUARIOS] CHECK CONSTRAINT [FK_USUARIOS_ROLES]
GO
USE [master]
GO
